<div class="container">
  <div class="row no-gutters word-row">
    <div class="col-1">
      <div class="text-center"><img src="assets/img/child.png" class="img-fluid rounded-circle word-img img-thumbnail"></div>
    </div>
    <div class="col-4"></div>
    <div class="col-2">
      <div class="text-center"><img src="assets/img/pamplemousse.jpg" class="img-fluid rounded-circle word-img img-thumbnail"></div>
    </div>
    <div class="col-1"></div>
    <div class="col-1">
      <button class="btn btn-primary btn-sm"><span class="oi oi-grid-two-up"></span></button>
    </div>
    <div class="col-1">
      <button class="btn btn-primary btn-sm"><span class="oi oi-random"></span></button>
    </div>
    <div class="col-2">
      <button class="btn btn-primary btn-sm reveal-btn"><span class="oi oi-eye"></span></button>
    </div>
  </div>
  <div class="row no-gutters row-letter word-row justify-content-center">
    <div class="col-1 box"><div class="letter word-letter in-box">p</div></div>
    <div class="col-1 box"><div class="letter word-letter in-box">a</div></div>
    <div class="col-1 box"><div class="letter word-letter in-box">m</div></div>
    <div class="col-1 box"><div class="letter word-letter in-box">p</div></div>
    <div class="col-1 box"><div class="letter word-letter in-box">l</div></div>
    <div class="col-1 box"><div class="letter word-letter in-box">e</div></div>
    <div class="col-1 box"><div class="letter word-letter in-box">m</div></div>
    <div class="col-1 box"><div class="letter word-letter in-box">o</div></div>
    <div class="col-1 box"><div class="letter word-letter in-box">u</div></div>
    <div class="col-1 box"><div class="letter word-letter in-box">s</div></div>
    <div class="col-1 box"><div class="letter word-letter in-box">s</div></div>
    <div class="col-1 box"><div class="letter word-letter in-box">e</div></div>
  </div>
  <div class="row no-gutters row-letter word-row justify-content-center">
    <div class="col-1 box"><div class="letter board-letter vowel in-box">a</div></div>
    <div class="col-1 box"><div class="letter board-letter vowel in-box">â</div></div>
    <div class="col-1 box"><div class="letter board-letter vowel in-box">e</div></div>
    <div class="col-1 box"><div class="letter board-letter vowel in-box">é</div></div>
    <div class="col-1 box"><div class="letter board-letter vowel in-box">è</div></div>
    <div class="col-1 box"><div class="letter board-letter vowel in-box">ê</div></div>
    <div class="col-1 box"><div class="letter board-letter vowel in-box">i</div></div>
    <div class="col-1 box"><div class="letter board-letter vowel in-box">ï</div></div>
    <div class="col-1 box"><div class="letter board-letter vowel in-box">î</div></div>
    <div class="col-1 box"><div class="letter board-letter vowel in-box">o</div></div>
    <div class="col-1 box"><div class="letter board-letter vowel in-box">u</div></div>
  </div>
  <div class="row no-gutters row-letter justify-content-center">
    <div class="col-1 box"><div class="letter board-letter vowel in-box">y</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">b</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">c</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">ç</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">d</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">f</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">g</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">h</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">j</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">k</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">l</div></div>
  </div>
  <div class="row no-gutters row-letter justify-content-center">
    <div class="col-1 box"><div class="letter board-letter consonant in-box">m</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">n</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">p</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">q</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">r</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">s</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">t</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">v</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">w</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">x</div></div>
    <div class="col-1 box"><div class="letter board-letter consonant in-box">z</div></div>
  </div>
  <div class="text-center word-row">
    <button class="btn btn-primary btn-sm"><span class="oi oi-arrow-thick-right"></span>
Ou, Oi, Eau</button>
  </div>
</div>
