/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Cursive standard";
  src: url("assets/fonts/CursiveStandardBold.ttf");
}

/*
 * Force user to use landscape orientation on smartphone
 * Quite brutal but works
 * http://fuel-efficient-vehicles.org/pwsdb/?p=330
 */
@media only screen and (orientation: portrait) {
  .container {
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media only screen and (orientation: landscape) {
  .container {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

body {
  font-family: sans-serif;
}
